

body{
    background-color: #645E5E;
}
/*DIV*/
div{
    /*border:solid 1px black;*/
}
.divLogo{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}
.divMain{
    width: 90%;

}

/*.divButton{*/
    /*width: 250px;*/
    /*height: 40px;*/
/*}*/
/*BUTTON*/
.myButtons{

    margin-left: 10px;
    width: 150px;
}