<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="UTF-8"></meta>
    <title></title>
</head>
<body>



<div th:fragment="addUser">

    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Dodawanie użytkownika</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="imie">Imię</label>
                <div class="col-md-4">
                    <input id="imie" name="imie" type="text" placeholder="imię" class="form-control input-md" required=""></input>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lastName">Nazwisko</label>
                <div class="col-md-4">
                    <input id="lastName" name="lastName" type="text" placeholder="nazwisko" class="form-control input-md" required=""></input>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="login">Login</label>
                <div class="col-md-4">
                    <input id="login" name="login" type="text" placeholder="login" class="form-control input-md" required=""></input>

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Hasło</label>
                <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="hasło" class="form-control input-md" required=""></input>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required=""></input>

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="buttonSave"></label>
                <div class="col-md-8">
                    <button id="buttonSave" name="buttonSave" class="btn btn-primary">Zapisz</button>
                    <button id="buttonClear" name="buttonClear" class="btn btn-danger">Reset</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>

</body>
</html>