

    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Dodawanie użytkownika</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="userFirstName">Imię</label>
                <div class="col-md-4">
                    <input id="userFirstName" name="imie" type="text" placeholder="imię" class="form-control input-md" required=""></input>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="userLstName">Nazwisko</label>
                <div class="col-md-4">
                    <input id="userLstName" name="lastName" type="text" placeholder="nazwisko" class="form-control input-md" required=""></input>

                </div>
            </div>


            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="userPassword">Hasło</label>
                <div class="col-md-4">
                    <input id="userPassword" name="password" type="password" placeholder="hasło" class="form-control input-md" required=""></input>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="userEmail">Email</label>
                <div class="col-md-4">
                    <input id="userEmail" name="email" type="text" placeholder="email" class="form-control input-md" required=""></input>

                </div>
            </div>

            <!-- Button (Double) -->


        </fieldset>
    </form>

    <div class="form-group">
        <label class="col-md-4 control-label" for="buttonSaveUser"></label>
        <div class="col-md-8">
            <button id="buttonSaveUser" name="buttonSave" class="btn btn-primary">Zapisz</button>
            <button id="buttonClear" name="buttonClear" class="btn btn-danger">Reset</button>
        </div>
    </div>
