
<div id="addCarDialog">
    <form class="form-group">

        <label>Nazwa samochodu</label>
        <input type="text" class="form-control" id="carNameInput"></input>
        <br></br>

        <label>Numer rejestracyjny</label>
        <input type="text" class="form-control" id="carNumberInput"></input>
        <br></br>

        <label>Stan licznika</label>
        <input type="text" class="form-control" id="kmCounterInput"></input>
        <br></br>

    </form>
    <button id="addCarButton" class="btn btn-primary" onclick="saveCar()">Dodaj</button>
</div>
<script>
    $('#addCarDialog').igDialog({ height: 350,width: 440,headerText: "Dodawanie samochodu" });



</script>
