<div id="addExchangeDialog" style="display:none;">
    <form class="form-group">

        <div class="form-group">
            <label for="carListSelect">Nazwa samochodu</label>
            <select class="form-control" id="carListSelect">

            </select>
        </div>
        <br></br>
        <label>Data wymiany</label>
        <input type="text" class="form-control" id="exchangeDateInput"></input>
        <br></br>

        <label>Oplata za wymiane</label>
        <input type="text" class="form-control" id="exchangePriceInput"></input>
        <br></br>

        <label>Opis</label>
        <input type="text" class="form-control" id="exchangeDescriptionInput"></input>

        <label>Miejsce</label>
        <input type="text" class="form-control" id="exchangePlaceInput"></input>
        <br></br>


        <br></br>

    </form>
    <button id="addExchangeButton" class="btn btn-primary" onclick="saveExchange()">Dodaj</button>
</div>
<script>
    $('#addExchangeDialog').igDialog({ height: 350,width: 440,headerText: "Dodawanie wymiany" });

    $.ajax({
        url:'car/carListForSelect',
        type:'GET',
        contentType: 'application/json;charset=UTF-8',
        success: function( data ) {
            $.each(data, function(i, value) {
                $('#carListSelect').append($('<option></option>`').text(value.carName).attr('value',value));
            });
        }
    });

</script>