<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="UTF-8"></meta>

    <script src="https://cdn.jsdelivr.net/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>

    <link href="/static/css/style.css" rel="stylesheet"></link>

    <script src="/static/js/index.js"></script>

    <title>CMS</title>
</head>
<body>

<div class="row">
    <div id="logo" class="col-md-12">
        <img src="/static/image/logo.PNG"></img>
    </div>
</div>

<div class="row">
    <div id="north" class="col-md-12">

    </div>
</div>
<br></br>
<div class="row">
    <div id="west" class="col-md-3">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <br></br>
            <button type="button" class="btn btn-primary"  onclick="goToMain()">Logowanie</button>
            <br></br>
            <button type="button" class="btn btn-primary" onclick="addUser()">Dodaj użytkownika</button>
            <br></br>
            <button type="button" class="btn btn-primary" onclick="info()">Informacje</button>
            <br></br>



        </div>
    </div>


    <div id="content" class="col-md-6" >




    </div>

    <div id="east" class="col-md-3">
        <button type="button" class="btn btn-danger" onclick="addPlace()">
                Kliknij i dodaj<br></br>
                warsztat,stacje benzynową,<br></br>
                która Twoim zdaniem zasługuje<br></br>
                żeby ją odwiedzić</button>
        <br></br>
    </div>
</div>

<div class="row">
    <div id="south" class="col-md-12">

    </div>
</div>

<div class="row">
    <div id="footer" class="col-md-12">
        Copyright © 2016 Konrad Dawydiuk All Rights Reserved
    </div>
</div>
</body>
</html>

