<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="UTF-8"></meta>
    <script src="https://cdn.jsdelivr.net/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
    <link href="/static/css/style.css" rel="stylesheet"></link>
    <title>CMS</title>
</head>
<body>

<div class="row">
    <div id="logo" class="col-md-12">
        <img src="/static/image/logo.PNG"></img>
    </div>
</div>

<div class="row">
    <div id="north" class="col-md-12">

    </div>
</div>

<div class="row">
    <div id="west" class="col-md-3">
        <div class="btn-group-vertical">
            <br></br>
            <input value="Logowanie" type="button" class="btn btn-primary" onclick="location.href='/logowanie'"></input>
            <br></br>
            <input value="Dodaj użytkownika" type="button" class="btn btn-primary"
                   onclick="location.href='/dodajUzytkownika'"></input>
            <br></br>
            <input value="Informacje" type="button" class="btn btn-primary"
                   onclick="location.href='/informacje'"></input>
            <br></br>

            <input value="PRZEJDZ" type="button" class="btn btn-primary"
                   onclick="location.href='/main'"></input>
            <br></br>

        </div>
    </div>


    <div id="content" class="col-md-6" th:switch="${tamplateIndex}">

        <br></br>
        <div th:case="1">
            <div th:include="index/loginUser::loginUser"></div>
        </div>
        <div th:case="2">
            <div th:include="index/addUser::addUser"></div>
        </div>
        <div th:case="3">
            <div th:include="index/info::info"></div>
        </div>
        <br></br>
    </div>

    <div id="east" class="col-md-3">

    </div>
</div>

<div class="row">
    <div id="south" class="col-md-12">

    </div>
</div>

<div class="row">
    <div id="footer" class="col-md-12">
        Copyright © 2016 Konrad Dawydiuk All Rights Reserved
    </div>
</div>
</body>
</html>

