<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="UTF-8"></meta>
    <script src="https://cdn.jsdelivr.net/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>


    <link href="/static/css/style.css" rel="stylesheet"></link>

    <script src="/static/js/main.js"></script>

    <!--Grid-->
    <link href="http://cdn-na.infragistics.com/igniteui/2016.1/latest/css/themes/infragistics/infragistics.theme.css"
          rel="stylesheet"/>
    <link href="http://cdn-na.infragistics.com/igniteui/2016.1/latest/css/structure/infragistics.css" rel="stylesheet"/>
    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2016.1/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2016.1/latest/js/infragistics.lob.js"></script>
    <title>CMS</title>
</head>
<body>

<div class="row">
    <div id="logo" class="col-md-12">
        <img src="/static/image/logo.PNG"></img>
    </div>
</div>
<br></br>
<div class="row">
    <div id="north" class="col-md-12">
        <a th:href="@{/logout}">Wyloguj się</a>
    </div>
</div>

<div class="row">
    <div id="west" class="col-md-3">


        <div class="btn-group-vertical">

            <button type="button" class="btn btn-primary" onclick="loadGrid()">Tabela - odśwież</button>
            <br></br>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Akcja <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button onclick="dialogShow('dialog/addCarDialog');" class="listButtons">Dodaj auto</button>
                </li>
                <li>
                    <button class="listButtons" onclick="dialogShow('dialog/addRefuelingDialog');">Dodaj tankowanie</button>
                </li>
                <li>
                    <button class="listButtons" onclick="dialogShow('dialog/addExchangeDialog');">Dodaj wymianę</button>
                </li>


            </ul>


        </div>

    </div>

    <div id="content" class="col-md-6">

        <table id="grid"></table>

    </div>

    <div id="east" class="col-md-3">

    </div>
</div>

<div class="row">
    <div id="south" class="col-md-12">

    </div>
</div>

<div class="row">
    <div id="footer" class="col-md-12">
        Copyright © 2016 Konrad Dawydiuk All Rights Reserved
    </div>
</div>
<!--Dialog-->

 <div id="dialogDiv">



 </div>

</body>

</html>

