<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="UTF-8"></meta>
    <script src="https://cdn.jsdelivr.net/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>


    <link href="/static/css/style.css" rel="stylesheet"></link>

    <title>CMS</title>
</head>
<body>

<div class="row">
    <div id="logo" class="col-md-12">
        <img src="/static/image/logo.PNG"></img>
    </div>
</div>

<div class="row">
    <div id="north" class="col-md-12">
        NORTH
    </div>
</div>

<div class="row">
    <div id="west" class="col-md-3">


        <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#/dodajAuto">Dodaj auto</a></li>
                <li><a href="#/dodajTankowanie">Dodaj tankowanie</a></li>
                <li><a href="#/dodajWymiane">Dodaj wymianę</a></li>

            </ul>

            <br></br>
            <input value="Tabela" type="button" class="btn btn-primary" onclick="location.href='333/tabela'"></input>
        </div>

        </div>

    <div id="content" class="col-md-6" th:switch="${tamplateMain}">

        <br></br>
        <div th:case="1">
            <div th:include="main/grid::grid"></div>
        </div>

    </div>

    <div id="east" class="col-md-3">
        EAST
    </div>
</div>

<div class="row">
    <div id="south" class="col-md-12">
        SOUTH
    </div>
</div>

<div class="row">
    <div id="footer" class="col-md-12">
        Copyright © 2016 Konrad Dawydiuk All Rights Reserved
    </div>
</div>
</body>

</html>

