<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="UTF-8"></meta>
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
    <script src="https://cdn.jsdelivr.net/jquery/2.2.2/jquery.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet"></link>
    <title>CMS</title>
</head>
<body>

<div class="row">
    <div id = "logo" class="col-md-12">
        <img src="/static/image/logo.PNG"></img>
    </div>
</div>

<div class="row">
    <div id="north" class="col-md-12">
        NORTH
    </div>
</div>

<div class="row">
    <div id="west" class="col-md-3">
        WEST
    </div>

    <div id="content" class="col-md-6">
        CONTENT
    </div>

    <div id="east" class="col-md-3">
        EAST
    </div>
</div>

<div class="row">
    <div id="south" class="col-md-12">
        SOUTH
    </div>
</div>

<div class="row">
    <div id="footer" class="col-md-12">
        Copyright © 2016 Konrad Dawydiuk All Rights Reserved
    </div>
</div>
</body>
</html>

<!--<div th:include="index/information::info"></div>-->
<!--<a th:href="@{/main}">main page</a>-->